<configuration debug="false">
    <!-- definition of appender STDOUT -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>%blue(%-5level) %red(%-110.110logger) : %cyan(%msg) %n</pattern>
        </encoder>
    </appender>

    <logger name="com.etiya.marvel.devtool" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.springframework.jdbc.support.JdbcAccessor" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.apache.catalina.loader" level="ERROR" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.springframework.web" level="NONE" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.springframework.security.*" level="NONE" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="javax.servlet.Filter" level="NONE" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>


    <logger name="com.gargoylesoftware.htmlunit" level="NONE" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>